.products-list {
  display: grid;
  width: 100%;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card > a > img {
  max-width: 280px;
  object-fit: contain;
}

.product-card > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card > div > i {
  cursor: pointer;
}

.view-single-product {
  width: 100%;
  display: flex;
  padding-top: 64px;
}

.view-single-product > * {
  margin-right: 32px;
}
